services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: druido
      POSTGRES_PASSWORD: druido
      POSTGRES_DB: druido
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

  # pgadmin:
  #   image: dpage/pgadmin4
  #   ports:
  #     - '5050:80'
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #     PGADMIN_DEFAULT_PASSWORD: admin
